<!doctype html>
<title>Reset Password</title>
<head>
  <meta charset='utf-8'>
</head>
<style>
	body{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}

</style>
<body>
<div style="background-color:#e5e5e5 !important;">
    <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
    <tbody>
        <tr>
            <td align="center" style="padding-bottom:40px;padding-top:40px">
                <img src="https://data.fpt.vn/Styles/images/logo.png" alt="Logo" width="120">
            </td>
        </tr>
    </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" style="background-color:#ffffffaa;padding-left:20px;padding-right:20px;padding-bottom:20px;width:100%;max-width:650px;margin:0 auto;">
    <tbody>
        <tr>
            <td>
                <p style="font-size:16px;line-height:26px;font-weight:bold;margin:30px 0 6px">
                    Xin chào {{ user.user_name }},
                </p>

                <p style="line-height:20px;margin:0">
                    Chúng tôi vừa nhận được yêu cầu reset mật khẩu đăng nhập của bạn.
                    Để hoàn thành việc thay đổi, vui lòng nhấn vào nút bên dưới.<br/><br/>
                    Nếu bạn không muốn thay đổi và giữ nguyên mật khẩu cũ, bạn chỉ cần bỏ qua e-mail này.
                    Đường dẫn sẽ tự động hết hiệu lực sau 60 phút.<br/><br/>
                    Xin cám ơn và chúc bạn một ngày tốt lành.
                </p>

                <a class="btn-primary" href="{{ url_for('user.reset_password', token=token, _external=True) }}"
                   style="width:300px;height:40px;display:block;margin:0 auto;background:#5eaff0;color:#fff;line-height:40px;margin:30px auto 40px;text-align:center;text-decoration:none;border:0"
                   target="_blank">
                    <b>RESET PASSWORD</b>
                </a>

                <p style="margin:20px 0 0;font-size:12px;color:#9b9b9b">Nếu bạn cần thêm hỗ trợ, đừng ngần ngại gọi số hotline <b>024 7300 2222</b> hoặc gửi mail đến địa chỉ <a style="color:#3591e2" href="mailto:ftel.ftihn.idc@fpt.com.vn" target="_blank">ftel.ftihn.idc@fpt.com.vn</a>, chúng tôi sẽ trợ giúp bạn nhanh nhất có thể.</p>
            </td>
        </tr>
    </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" style="background-color:#e5e5e5;padding:20px;width:100%;">
    </table>
    <table border="0" cellpadding="0" cellspacing="0" style="background-color:#ffffffaa;padding-left:20px;padding-right:20px;padding-bottom:20px;width:100%;max-width:650px;margin:0 auto;">
    <tbody>
        <tr>
            <td>
                <br/>
                <span style="color:#aaaaaa;"><i>-- English version</i></span>
            </td>
        </tr>
        <tr>
            <td>
                <p style="font-size:16px;line-height:26px;font-weight:bold;margin:30px 0 6px">
                    Hello {{ user.user_name }},
                </p>

                <p style="line-height:20px;margin:0">
                    We've just received a request of changing your account password.
                    If you want to do that, please click on the button below to proceed
                    to next step.<br/><br/>
                    If you don't want to change and keep the current password, just ignore
                    this e-mail. The address link will automatically expire in 60 minutes.<br/><br/>
                    Thank you and have a nice day.
                </p>

                <a class="btn-primary" href="{{ url_for('user.reset_password', token=token, _external=True) }}"
                   style="width:300px;height:40px;display:block;margin:0 auto;background:#5eaff0;color:#fff;line-height:40px;margin:30px auto 40px;text-align:center;text-decoration:none;border:0"
                   target="_blank">
                    <b>RESET PASSWORD</b>
                </a>

                <p style="margin:20px 0 0;font-size:12px;color:#9b9b9b">If you need any support, don't hesitate to call our hotline number <b>024 7300 2222</b> or send your e-mail to <a style="color:#3591e2" href="mailto:ftel.ftihn.idc@fpt.com.vn" target="_blank">ftel.ftihn.idc@fpt.com.vn</a>, we are willing to support you as soon as possible.</p>
            </td>
        </tr>
    </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
    <tbody>
        <tr>
            <td align="center" style="padding-bottom:40px;padding-top:40px;color: #aaaaaa">
                © 2020 FPT Telecom Ltd.
            </td>
        </tr>
    </tbody>
    </table>
</div>
</body>
