<!doctype html>
<title>Order Issue</title>
<head>
  <meta charset='utf-8'>
</head>
<style>
	body{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}

</style>
<body>
<div style="background-color:#e5e5e5 !important;">
    <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
    <tbody>
        <tr>
            <td align="center" style="padding-bottom:40px;padding-top:40px">
                <img src="https://data.fpt.vn/Styles/images/logo.png" alt="Logo" width="120">
            </td>
        </tr>
    </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" style="background-color:#ffffffaa;padding-left:20px;padding-right:20px;padding-bottom:20px;width:100%;max-width:650px;margin:0 auto;">
    <tbody>
        <tr>
            <td>
                <p style="line-height:20px;margin:0">
                    <br/>
                    <b>Automatic mail from system!<br/>
                        Order has issue</b>
                    <br/>
                    <br/>
                    Order info:<br/>
                    ID: {{ order.id }}<br/>
                    Code: {{ order.code }}<br/>
                    <br/>
                    Issue:<br/>
                    {{ issue }}
                </p>
            </td>
        </tr>
    </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
    <tbody>
        <tr>
            <td align="center" style="padding-bottom:40px;padding-top:40px;color: #aaaaaa">
                © 2020 FPT Telecom Ltd.
            </td>
        </tr>
    </tbody>
    </table>
</div>
</body>
